<style>


  
</style>
<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Trang home</h1>
        <p>Mua hang tại đây</p>
    </div>
    <div class="search-box">
        <input type="text" class="form-control search-input" placeholder="tim san pham">
        <select class="form-control product-category">
            <option selected disabled>Danh muc san pham</option>
            <option>Do dien tu</option>
            <option>Hai san</option>
            <option>Banh keo</option>
        </select>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img
                src="https://images.pexels.com/photos/326508/pexels-photo-326508.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
               alt="product image"  class="product-image"   >
               <h3 class="product-name">product name</h3>
            <p class="product-description">description</p>
            <p class="product-warranty">Bao hanh:12th</p>
            <p class="product-price">1000</p> 
            <div class="product-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half"></i>
            </div>
            <div class="product-actions">
                <button type="button" class="btn btn-primary">Them vao gio hang</button>
                <span class="space-x"></span>
                <button type="button" class="btn btn-success">Mua ngay</button>
            </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>


